@model UserViewModel

<a type="button" class="btn btn-dark" data-toggle="modal" href="#redactPasswordModel">
    Сменить пароль
</a>

<!-- Modal -->
<div class="modal fade" id="redactPasswordModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Старый пароль: @Model.Password</h5>
            </div>
            <form role="form" class="form">
                <div class="modal-body">
                    <div class="form-group col-11">
                        <input asp-for="Password" class="form-control" placeholder="Пароль" name="Password" />
                        <span class="text-danger" asp-validation-for="Password" />
                    </div>
                    <div class="form-group col-11">
                        <input asp-for="PasswordConfirm" class="form-control" placeholder="Подтверждение пароля" name="PasswordConfirm" />
                        <span class="text-danger" asp-validation-for="PasswordConfirm" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" value="@Model.Login" name="Login" />
                    <button type="submit" class="btn btn-dark" asp-area="Admin" asp-controller="User" asp-action="RedactPassword">Сохранить</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>

